body {
    margin: 0;
    background-color: #333;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Lucida Console", "Courier New", monospace;
    flex-direction: column;
    color: white;
}

.title {
    margin: 20px;
}

#start {
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    margin: 3px;
    border: 3px;
    padding: 3px 20px;
    margin-bottom: 15px;
    color: #591200;
    background-color: #777;
    border-color: #591200;
    border-style: solid;
    cursor: pointer;
}